<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div class="starter-template">
    <h1>Trabajando con {{ title }}</h1>
    <hr><br />
    <div class="row">
      <div class="co-md-12">
        <table class="table">
        <thead>
          <tr>
            <th scope="col">Variable</th>
            <th scope="col">Pipe</th>
            <th scope="col">Producto</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{nombre}}</td>
            <td>uppercase</td>
            <td>{{nombre | uppercase}}</td>
          </tr>
          <tr>
            <td>{{nombre}}</td>
            <td>lowercase</td>
            <td>{{nombre | lowercase}}</td>
          </tr>
          <tr>
            <td>{{nombre}}</td>
            <td> titlecase </td>
            <td>{{nombre |  titlecase }}</td>
          </tr>
          <tr>
            <td>{{nombre}}</td>
            <td> slice:3 </td>
            <td>{{nombre |  slice:3 }}</td>
          </tr>
          <tr>
            <td>{{nombre}}</td>
            <td> slice:0:3 </td>
            <td>{{nombre |  slice:0:3 }}</td>
          </tr>
          <tr>
            <td>{{arreglo}}</td>
            <td> slice:1:5 </td>
            <td>{{arreglo |  slice:1:5 }}</td>
          </tr>
          <tr>
            <td>{{PI}}</td>
            <td> number:'3.0-0' </td>
            <td>{{PI |  number:'3.0-0' }}</td>
          </tr>
          <tr>
            <td>{{PI}}</td>
            <td> number:'1.0-2' </td>
            <td>{{PI |  number:'1.0-2' }}</td>
          </tr>
          <tr>
            <td>{{a}}</td>
            <td> percent:'2.2-2' </td>
            <td>{{a |  percent:'2.2-2' }}</td>
          </tr>
          <tr>
            <td>{{salario}}</td>
            <td> currency </td>
            <td>{{salario |  currency }}</td>
          </tr><tr>
            <td>{{salario}}</td>
            <td> currency:'EUR' </td>
            <td>{{salario |  currency:'EUR' }}</td>
          </tr><tr>
            <td>{{salario}}</td>
            <td> currency:'EUR':false </td>
            <td>{{salario |  currency:'EUR':false }}</td>
          </tr><tr>
            <td>{{salario}}</td>
            <td> currency:'EUR':true:'4.0-0' </td>
            <td>{{salario |  currency:'EUR':true:'4.0-0' }}</td>
          </tr><tr>
            <td>{{salario}}</td>
            <td> number:'.2-2' </td>
            <td>{{salario |  number:'.2-2' }}</td>
          </tr><tr>
            <td>{{valorDePromesa}}</td>
            <td> async </td>
            <td>{{valorDePromesa |  async }}</td>
          </tr><tr>
            <td>{{fecha}}</td>
            <td> date </td>
            <td>{{fecha |  date }}</td>
          </tr><tr><tr>
            <td>{{fecha}}</td>
            <td>  date:'full' </td>
            <td>{{fecha |  date:'full' }}</td>
          </tr><tr>
            <td>{{fecha}}</td>
            <td> date:'medium' </td>
            <td>{{fecha |  date:'medium' }}</td>
          </tr><tr>
            <td>{{fecha}}</td>
            <td> date:'MM-dd' </td>
            <td>{{fecha |  date:'MM-dd' }}</td>
          </tr><tr>
            <td>{{nombre2}}</td>
            <td> capitalizado </td>
            <td>{{nombre2 |  capitalizado }}</td>
          </tr>
          <tr>
            <td>{{nombre2}}</td>
            <td> capitalizado:false </td>
            <td>{{nombre2 |  capitalizado:false }}</td>
          </tr>
          <tr>
            <td>{{nombre}}</td>
            <td> contrasena:{{mostrar}} <br >
              <button (click)="mostrar=!mostrar"
              type="button"
              class="btn btn-outline-primary">Mostrar/Ocultar</button>

            </td>
            <td>{{nombre |  contrasena:mostrar }}</td>
          </tr>
        </tbody>
        </table>

      </div>

    </div>

    <h4>Slice</h4>
    <ul>
      <li *ngFor="let item of arreglo | slice:5:20">
        {{item}}
      </li>
    </ul>

    <BR>
    <h4>JSON</h4>
    <pre>{{heroe | json }}</pre>




    <h4>Youtube <small>video</small></h4>
    <div>
      <iframe width="560" height="315" [src]="video_id | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>


    <BR>
    <BR>
    <BR>
    <BR>
</div>

